// =============================================

// Photo Page

// =============================================

.page-pic {
  background: #000 image-url('bucaboot-with-beer-bg.jpg') no-repeat 50% 50% fixed;
  @include background-size(cover);
  background-attachment: fixed;
}

.default-img {
  display: block;
  max-width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto 20px;
}
