// =============================================

// Press Page

// =============================================

$press-border: 1px solid rgba(0,0,0,.15);
$press-spacing: 26px;

.press-list {
  border-top: $press-border;
}

.pressItem-link {
  display: block;
  padding: $press-spacing 20px;
  border-bottom: $press-border;
}


.pressItem-txt {
  transition: all .2s ease-in;
  .pressItem-link:hover & {
    transform: translateX(8px);
  }
}

