// =============================================

// T-Shirt Page

// =============================================

.page-tees {
  .default-img {
    margin-bottom: 100px;
  }
}

.tee-h {
  font: 100 em(26)/120% $sans;
  text-align: center;
  margin-bottom: 10px;
}

.tee-number {
  color: $red;
}
