// =============================================

// Layout

// =============================================


.page--sectionFront {
  padding-top: 100px;
  // TODO: Change this when nav becomes fixed everywhere
  .siteNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.txt-width {
  max-width: $txt-max-width;
  margin: 0 20px;
  @include mq(660px) {
    margin: auto;
  }
}

.content-width {
  max-width: 940px;
  margin: 0 20px;
  @include mq(980px) {
    margin: auto;
  }
}

.section-topper {
  position: relative;
  background: #000 image-url('bucaboot-tight-bw.jpg') no-repeat 50% 0%;
  background-size: cover;
  margin-bottom: 60px;
  height: 120px;
  height: 25vh;

  @include mq($break-sm) {
    height: 300px;
    height: 30vh;
  }

  @include mq($break-md) {
    height: 400px;
    height: 40vh;
  }

  &:after {
    @include pseudo(0 0 0 0);
    background-color: $blue-dark;
    opacity: .8;
    mix-blend-mode: multiply;
  }
}

.section-topper-h {
  position: absolute;
  z-index: 1;
  bottom: -12px;

  font: 100 em(80) $sans;
  line-height: 100%;
  color: #fff;
  opacity: .4;

  @include mq($break-sm) {
    font-size: 120px;
    bottom: -18px;
  }

  @include mq($break-md) {
    font-size: 150px;
    bottom: -23px;
  }
}

.page-h {
  font: 100 em(50) $sans;
  color: $blue-dark;
  margin-bottom: 20px;
  @include mq($break-sm) {
    font-size: em(65);
  }
  @include mq($break-md) {
    font-size: em(80);
  }
}

.page--sectionFront:before {
  z-index: -1;
  @include psuedo;
  @include svg("shape-half-circle--blue", none);
  background-size: contain;
  background-position: top left;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;

  // Fixes size jump that occurs on mobile devices
  // due to viewport size change when navbar shrinks
  @media (min-height: 0px) and (max-height: 600px) {
    height: 700px;
  }

  @media (max-device-width: 700px) and
         (min-height: 300px) and
         (max-height: 499px) {
    max-height: 420px;
    top: 45px;

  }

  @media (max-device-width: 700px) and
         (min-height: 500px) and
         (max-height: 700px) {
    max-height: 620px;
    top: 45px;
  }
}

.page-hero-img {
  max-width: 100%;
}
