// =============================================

// Variables

// =============================================



// --------------------------------------------
// Color
// --------------------------------------------

$red: rgb(240,78,48);
$blue: rgb(0,187,214);
$blue-dark: rgb(31,32,52);
$blue-dk: $blue-dark;
$navy: $blue-dark;
$orange: rgb(244,121,32);
$beige: rgb(255,254,242);

$selection-color: $blue-dk;
$selection-color-type: #FFF;

$link: $blue;
$link-hover: darken($link, 8%);
$highlight: $navy;
$bg: $beige;

$sans:"Raleway",Arial,Helvetica,Verdana,sans-serif;
$serif:Georgia,Times,Times New Roman,serif;
$mono:"Courier New",Courier,mono;



// --------------------------------------------
// Breakpoints
// --------------------------------------------

$break-sm: 420px;
$break-md: 768px;
$break-lg: 960px;

$footer-fixes: 920px;

$bp--full-nav: 500px;



// --------------------------------------------
// Layout
// --------------------------------------------

$site-padding: 20px;

$nav-padding: 20px;
$nav-padding--small: 10px;



// --------------------------------------------
// Animations
// --------------------------------------------

$timing: cubic-bezier(0.645,0.045,0.355,1);
$timing--butter: cubic-bezier(0.215, 0.61, 0.355, 1);



// --------------------------------------------
// Paths
// --------------------------------------------

$rgba-bg-path: "rgba-bg/";
$svg-path: "icons/";

