<!-- Slide: Handles -->
<section class="l-feature slide-handles"
     data-bottom-top="background-position: 50% 900px;"
     data-center="background-position: 50% -100px;">

  <!-- Slide: Summer -->
  <section class="slide-summer site-width">
    <div class="l-feature-inner"
       data-600-bottom="transform: translate3d(0px, 550px, 0);"
       data--200-top="transform: translate3d(0px, -100px, 0);">

      <h2 class="h2">Stay in the Know</h2>

      <!-- Email Signup -->
      <div id="mc_embed_signup" class="mc-mod-dark mc-mod-signup l-narrow">
        <form action="http://bucaboot.us7.list-manage1.com/subscribe/post?u=5752a95bb79b69fc89b39e37a&amp;id=31f4699415" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="mc-field-group">
          <label class="txt" for="mce-EMAIL">with all the latest Buca Boot news</label>
          <input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email mc-input" id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="mce-responses">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <input type="submit" value="&rarr;" name="subscribe" id="mc-embedded-subscribe" class="mc-submit">
        </form>

      </div> <!-- /mc-mod-dark -->

    </div> <!-- /l-feature-inner -->
  </section> <!-- /l-feature-->

</section> <!-- /l-feature -->

<footer class="slide-ftr foreground">
  <div class="foreground-inner">

    <div class="ftr-tagline-mod">
      <i class="ftr-infinity-logo"></i>
      <h5 class="ftr-tagline">Hello Freedom</h5>
    </div> <!-- /ftr-tagline-mod -->

    <div class="slide-ftr-btm">
      <!-- Social Icons -->
      <ul class="social-list">
        <li class="social-item twitter"><a href="https://twitter.com/bucaboot" target="_blank">Twitter</a></li>
        <li class="social-item facebook"><a href="https://www.facebook.com/bucaboot" target="_blank">Facebook</a></li>
        <li class="social-item google"><a href="https://plus.google.com/103106248903301572487" rel="publisher" target="_blank">Google Plus</a></li>
      </ul>

      <dl class="contact-mod caption-txt">
        <dt class="contact-h">Contact</dt>
        <dd class="contact-txt"><a class="link" href="mailto:hello@bucaboot.com">hello@bucaboot.com</a></dd>
        <dt class="contact-h">Wholesale Orders</dt>
        <dd class="contact-txt"><a class="link" href="mailto:wholesale@bucaboot.com">wholesale@bucaboot.com</a></dd>
      </dl>

    </div> <!-- /slide-ftr-btm -->

  </div> <!-- /foreground-inner -->
</footer> <!-- /slide-ftr -->
