<nav class="siteNav">

  <a class="siteNav--home" href="/index.html">
    <img class="siteNav--homeLogo" src="img/icons/infinity-wht-md.svg" alt="Buca Boot" />
  </a>

  <!-- Buy Button -->
  <a class="siteNav--buy" data-celery="54696b734457df05003627e9" data-celery-version="v2" href="https://shop.trycelery.com/embed/54696b734457df05003627e9?index=&domain=www.bucaboot.com">Pre-Order</a>


  <!-- Menu Button -->
  <a class="siteNav--navTrigger js-navTrigger">Menu</a>

  <!-- Links -->
  <ul class="siteNav--links">
<!--        <li class="siteNav--linkItem">
      <a class="siteNav--link" href="/about.html">About</a>
    </li>
-->        <li class="siteNav--linkItem">
      <a class="siteNav--link" href="http://bucaboot.tumblr.com">Blog</a>
    </li>
    <li class="siteNav--linkItem">
      <a class="siteNav--link" href="/about.html">About</a>
    </li>
    <li class="siteNav--linkItem">
      <a class="siteNav--link" href="/press.html">Press</a>
    </li
  </ul> <!-- /site-links -->

</nav> <!-- /site-nav -->
