{% extends "_layout" %}

{% set bodyClasses = 'about-page page--sectionFront' %}

{% block content %}

<div class="page-hgroup txt-width">
  <h1 class="page-h">About</h1>
</div> <!-- /page-hgroup -->

  <div class="body--about txt-width">


      {% for entry in craft.entries.section('about') %}
      <div class="article-txt article-txt--about">
      {{ entry.body }}
      </div>
      {% endfor %}

  </div> <!-- /body--about -->

{% endblock content %}

{% block scripts %}
  <script src="/bower_components/skrollr/dist/skrollr.min.js"></script>
  <script src="/bower_components/jquery.inview/jquery.inview.min.js"></script>
{% endblock scripts %}
