{% extends "_layout" %}

{% set bodyClasses = 'about-page' %}

{% block content %}

  <div class="section-topper">
    <div class="txt-width">
      <h1 class="section-topper-h">About</h1>
    </div>
  </div> <!-- /section-topper -->

  <div class="txt-width">


      {% for entry in craft.entries.section('about') %}
      <div class="article-txt article-txt--about">
      {{ entry.body }}
      </div>
      {% endfor %}

  </div> <!-- /txt-width -->

{% endblock content %}

{% block scripts %}
  <script src="/bower_components/skrollr/dist/skrollr.min.js"></script>
  <script src="/bower_components/jquery.inview/jquery.inview.min.js"></script>
{% endblock scripts %}
