{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% set bodyClasses = 'page-hp' %}

{% block nav %}
  {# Remove the top nav, because it appears below #}
{% endblock nav %}

{% block content %}
<section class="hp-intro">
  <div class="foreground">

    <div class="foreground-inner">
      <!-- Logo & Intro -->

      <h1 class="logo-h">
        <i class="logo-h-txt a11y-only">Buca Boot</i>
          <img class="logo-img logo-img-svg" src="img/icons/logo-wht-lg.svg" />
      </h1>

      <h2 class="intro-txt">Secure, flexible storage for&nbsp;the practical&nbsp;biker. Stop&nbsp;worrying about&nbsp;your&nbsp;stuff&nbsp;&amp;&nbsp;go!</h2>

      <!-- Video Button -->
      <a class="btn-large l-narrow video-btn js-popup-iframe" href="https://vimeo.com/73281165" target="_blank">Watch the video</a>

      <!-- Pre-Order -->
      <a class="btn-large--light order-btn l-narrow" data-celery="54696b734457df05003627e9" data-celery-version="v2" href="https://shop.trycelery.com/embed/54696b734457df05003627e9?index=&domain=www.bucaboot.com">Pre-Order</a>

      <!-- Down Arrow -->
      <i class="intro-arrow"></i>

    </div> <!-- /foreground-inner -->

  </div> <!-- /foreground -->
</section> <!-- /hp-intro -->

{# Site Navigation #}
{% include "partials/nav.html" %}

<!-- Slide: Lifestyle -->
<section class="l-feature slide-lifestyle">
  <div class="l-feature-cols">
    <div class="ui-block-1">
      <img class="resp-img" src="img/slide-flexible.gif" alt="Animation showing the Buca Boot opening (to carry big stuff) and closing (to keep small things safe and dry)." />
    </div> <!-- /ui-block-1 -->
    <div class="ui-block-2">
      <h2 class="h2">Adapts to Your&nbsp;Lifestyle</h2>
      <p class="txt">The Buca Boot opens to carry big things like groceries and locks to keep your smaller stuff safe. Need more space? No problem. Side panniers are built&nbsp;right&nbsp;in.</p>
    </div> <!-- /ui-block-2 -->
  </div> <!-- /l-feature-inner -->
</section> <!-- /l-feature -->

<!-- Slide: Weather -->
<section class="l-feature slide-weather">
  <div class="l-feature-cols-flip">
    <div class="ui-block-1">
      <img class="resp-img" src="img/slide-weather.gif" alt="The Buca Boot is weatherproof." />
    </div> <!-- /ui-block-1 -->
    <div class="ui-block-2">
      <h2 class="h2">Works in any&nbsp;Weather</h2>
      <p class="txt">Leave it outside. Ride in the rain. Heck, put it out in the snow. The Boot is made from molded plastic and has a gasketed lid to keep your stuff safe&nbsp;&amp;&nbsp;dry.</p>
    </div> <!-- /ui-block-2 -->
  </div> <!-- /l-feature-inner -->
</section> <!-- /l-feature -->


<!-- Slide: Secure -->
<section class="l-feature slide-secure">
  <div class="l-feature-cols l-feature-cols--secure">
    <div class="ui-block-1">
      <img class="resp-img" src="img/slide-secure.jpg" alt="The Buca Boot is as secure as a car trunk." />
    </div> <!-- /ui-block-1 -->
    <div class="ui-block-2">
      <h2 class="h2">Secures Your Stuff</h2>
      <p class="txt">Our unique hinge mechanism securely locks the lid in place. It attaches to any standard bike rack from the inside so it can’t be removed without unlocking and opening the Boot.</p>
    </div> <!-- /ui-block-2 -->
  </div> <!-- /l-feature-inner -->

  <div class="order-mod-bottom">
    <a class="btn-large order-btn-bottom l-narrow" data-celery="54696b734457df05003627e9" data-celery-version="v2" href="https://shop.trycelery.com/embed/54696b734457df05003627e9?index=&domain=www.bucaboot.com">Pre-Order</a>
    <h4 class="txt">Shipping June 2015!</h4>
  </div> <!-- /order-mod-bottom -->

</section> <!-- /l-feature -->


<!-- Slide: Gallery -->
<section class="slideGallery slideGallery--homepage">

<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--laptop.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--bikeBack-studio.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--sideview.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--open-keys.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--interior-stuff.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--flowers.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--bikeBack-street.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--helmet.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--handles.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--opening.jpg" alt="" />
        </div> <!-- /swiper-slide -->
        <div class="swiper-slide">
          <img class="swiper-img" src="img/gallery/gallery--sunset.jpg" alt="" />
        </div> <!-- /swiper-slide -->
    </div> <!-- /swiper-wrapper -->
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

</section> <!-- /slide-gallery -->



<!-- Slide: Secure -->
<section class="l-feature slide-colors">
  <h3 class="slide-colors-h">Choose from Three Colors</h3>

  <div class="l-colors">
    <a class="color" data-celery="54696b734457df05003627e9" data-celery-version="v2">
      <img class="color-img" src="img/color-swatch--navy2x.png"/>
      <h6 class="color-h">Navy</h6>
    </a> <!-- /color -->
    <a class="color" data-celery="54696b734457df05003627e9" data-celery-version="v2">
      <img class="color-img" src="img/color-swatch--tomato2x.png"/>
      <h6 class="color-h">Tomato</h6>
    </a> <!-- /color -->
    <a class="color" data-celery="54696b734457df05003627e9" data-celery-version="v2">
      <img class="color-img" src="img/color-swatch--steel2x.png"/>
      <h6 class="color-h">Steel</h6>
    </a> <!-- /color -->
  </div> <!-- /l-color -->

</section> <!-- /l-feature -->


{% endblock content %}


{% block scripts %}
    <script src="/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/bower_components/skrollr/dist/skrollr.min.js"></script>
    <script src="/bower_components/jquery.inview/jquery.inview.min.js"></script>
    <script src="/bower_components/swiper/dist/js/swiper.jquery.min.js"></script>
    <script src="/js/homepage.js"></script>
{% endblock scripts %}
