{% extends "_layout" %}

{% set bodyClasses = 'press-page page--sectionFront' %}

{% block content %}

<div class="page-hgroup txt-width">
  <h1 class="page-h">Press</h1>
</div> <!-- /page-hgroup -->

<div class="body--press txt-width">
  <ul class="press-list">
    {% for entry in craft.entries.section('press') %}
      <li class="pressItem">
        <a class="pressItem-link" href="{{ entry.externalLink }}" target="_blank">
          <h2 class="h2 pressItem-h">{{ entry.title }}</h2>
          <h3 class="txt pressItem-txt">{{ entry.headline }}</h3>
        </a>
      </li>
    {% endfor %}
  </ul>
</div> <!-- /body--press -->

{% endblock content %}
